.prof-img {
  width: auto;
  height: 180px;
}

.prof-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.prof-ctn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prof-name {
  font-weight: 500;
  color: white;
}

.prof-sub {
  font-weight: 400;
  color: rgb(239, 239, 239);
}

.links {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  padding: 2px 15px 2px;
  backdrop-filter: blur(80px) saturate(75%);
  -webkit-backdrop-filter: blur(80px) saturate(75%);
  background-color: rgba(163, 163, 163, 0.271);
  border-radius: 30px;
  border: 1px solid rgb(255, 255, 255);
}

.links a {
  text-decoration: none;
  color: white;
  width: auto;
  font-size: 16px;
}

.links a :hover {
  color: rgba(255, 255, 255, 0.323);
  transform: scale(98%);
  transition: 0.25s ease-in-out;
}
